@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Abel&family=Inika&family=Audiowide&family=Nanum+Gothic+Coding:wght@400;700&display=swap');
//css2?family=Teko:wght@300..700&display=swap');

// font
$abel : "Abel", sans-serif;
$audiowide : "Audiowide", sans-serif;
$nanum : "Nanum Gothic Coding", monospace;
$inika : "Inika", serif;
$teko : "Teko", sans-serif;

$pc2: "(max-width:1500px)"; 
$pc1: "(max-width:1200px)"; 
$tablet: "(max-width:768px)"; 

